.contacts-content {
    width: 100%;
    height: calc(100% - 96px);
    font-family: 'Inter', sans-serif;
    display: flex;
    position: relative;

    @media(max-width:1024px) {
        height: calc(100% - 80px);
    }
    
    @media(max-width:768px) {
        overflow: scroll;

        @media (min-height: 568px) {
            height: calc(100vh - 156px);
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .add-contact-option-mobile,
    .add-btn-container-mobile {
        width: 56px;
        height: 56px;
        position: absolute;
        bottom: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 46px;
        cursor: pointer;
        border: 1px solid var(--dark-slate-blue);
        background: var(--dark-slate-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: all 225ms ease-in-out;
        display: none;
        z-index: 30;

        &:hover {
            border: 1px solid var(--electric-blue);
            background-color: var(--electric-blue);
        }

        @media(max-width:960px) {
            display: flex;
        }
    }

    .btn-container-mobile {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        bottom: 18px;
        right: 5px;
        z-index: 40;
        border-radius: 20px 20px 0px 20px;
        background: var(--white);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10px;
        width: 90px;
        transform: translateX(100vw);

        button {
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            border: 0px;
            background: transparent;
            cursor: pointer;
            transition: all 100ms ease-in-out;
            position: relative;
            width: 100%;
            padding-left: 35px;

            &:hover {

                span {
                    color: var(--electric-blue);
                    font-weight: 700;
                }

                svg {

                    path {
                        fill: var(--electric-blue);
                    }
                }
            }

            svg {
                position: absolute;
                right: 62px;

                @media (max-width: 480px) {
                    width: 16px;
                    height: 16px;
                }
            }

            span {
                font-family: 'Inter', sans-serif;
                color: var(--dark-slate-blue);
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;

                @media (max-width: 480px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.left-content {
    width: 300px;
    background-color: var(--white);
    height: 100%;
    padding: 0 24px;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    overflow: scroll;
    overflow-x: hidden;


    @media(max-width:960px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media(max-width:480px) {
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: 2px;
        height: 0px;

        @media (max-width: 480px) {
            width: 0;
        }
    }

    &::-webkit-scrollbar-track {
        background: var(--light-gray);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--dark-slate-blue);
        ;
        border-radius: 2px;
    }

    .add-contact-option {
        width: 100%;
        display: flex;
        padding: 12px 0;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-radius: 10px;
        border: 1px solid var(--dark-slate-blue);
        background: var(--dark-slate-blue);
        color: var(--white);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--electric-blue);
            background-color: var(--electric-blue);
        }

        @media(max-width:960px) {
            display: none;
        }

        @media(max-width:480px) {
            font-size: 14px;
            width: auto;
        }

        svg {

            @media(max-width:480px) {
                height: 24px;
            }
        }
    }

    .option-box {
        padding: 0;
        min-height: 50px;

        ul {
            padding: 0;
        }

        .group-contacts {
            list-style-type: none;
            margin-top: 24px;

            .letter {
                font-size: 20px;
                font-weight: 400;
                line-height: 120%;
                padding: 12px 46px 12px 21px;
            }

            svg {
                width: 100%;
            }
        }

        .option {
            position: relative;
            border-radius: 10px;
            margin: 6px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            @media (max-width: 480px) {
                font-size: 14px;
            }

            .checkbox-tile {
                width: 100%;
                height: 100%;
                padding: 12px 46px 12px 21px;
                cursor: pointer;
                border-radius: 10px;

                &:hover {
                    color: var(--white);
                    background-color: var(--midnight-blue);
                }

                @media (max-width: 1024px) {
                    padding: 10px 40px 10px 18px;
                    font-size: 16px;
                }

                @media (max-width: 480px) {
                    padding: 10px 30px 10px 10px;
                    font-size: 14px;
                }
            }

            .container-name {
                position: relative;
                display: flex;
                align-items: center;
                gap: 16px;
                z-index: 10;
            }

            .initials {
                width: 30px;
                min-width: 30px;
                height: 30px;
                border-radius: 45px;
                font-size: 12px;
                color: var(--white);
                background-color: var(--medium-color);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .name {
                font-size: 16px;
                height: 24px;
            }

            .email {
                color: var(--light-blue-1);
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
}

.right-content {
    width: calc(100% - 300px);
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media(max-width:960px) {
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: 2px;
        height: 0px;

        @media (max-width: 480px) {
            width: 0;
        }
    }

    &::-webkit-scrollbar-track {
        background: var(--light-gray);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--dark-slate-blue);
        border-radius: 2px;
    }

    .headline {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: 55px;
        margin-top: 38.4px;
        position: relative;

        @media(max-width:1024px) {
            margin-left: 30px;
            margin-top: 20px;
        }

        @media(max-width:480px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            margin-left: 20px;
        }

        h1 {
            font-size: 52px;
            font-weight: 700;
            line-height: 120%;
            margin: 0;


            @media(max-width:480px) {
                font-size: 28px;
            }
        }

        svg {
            scale: 0.85;
        }

        span {
            color: var(--dark-slate-blue);
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;

            @media(max-width:480px) {
                font-size: 14px;
            }
        }

        .line-vertical {

            @media(max-width:480px) {
                display: none;
            }
        }

        .line-orizontal {
            display: none;

            @media(max-width:480px) {
                display: initial;
                scale: 0.6;
                transform: translateX(-30px);
            }
        }

        .back {
            position: absolute;
            right: 20px;
            display: none;
            cursor: pointer;
            transition: all 225ms ease-in-out;

            &:hover {
                scale: 0.9;
            }

            @media(max-width:960px) {
                display: initial;
            }

            @media(max-width:550px) {
                top: -14px;
            }

            @media(max-width:480px) {
                top: 0;
            }
        }
    }

    .container-contact-info {
        margin-left: 55px;

        @media(max-width:1024px) {
            margin-left: 30px;
        }

        @media(max-width:480px) {
            margin-left: 20px;
        }

        .contact-option {
            position: relative;
            border-radius: 10px;
            margin: 6px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
            transform: translateX(100vw);

            @media (max-width: 480px) {
                font-size: 14px;
                gap: 30px;
            }

            .checkbox-tile {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }

            .container-name {
                position: relative;
                display: flex;
                align-items: center;
                gap: 36px;
                z-index: 10;
            }

            .initials {
                width: 80px;
                min-width: 80px;
                height: 80px;
                border: 2px solid var(--white);
                border-radius: 50%;
                font-size: 36px;
                color: var(--white);
                background-color: var(--medium-color);
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 480px) {
                    font-size: 27px;
                    width: 60px;
                    min-width: 60px;
                    height: 60px;
                }
            }

            .text {
                font-size: 20px;
                font-weight: 400;
                line-height: 120%;

                @media (max-width: 480px) {
                    font-size: 16px;
                }
            }
        }

        .contact-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

            .name {
                font-weight: 500;
                font-size: 36px;

                @media (max-width: 480px) {
                    font-size: 24px;
                    font-weight: 700;
                }
            }

            .btn-container {
                display: flex;
                justify-content: flex-end;
                gap: 16px;

                button {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 5px;
                    border: 0px;
                    background: transparent;
                    cursor: pointer;
                    transition: all 100ms ease-in-out;
                    position: relative;
                    width: 75px;

                    &:hover {

                        span {
                            color: var(--electric-blue);
                            font-weight: 700;
                        }

                        svg {

                            path {
                                fill: var(--electric-blue);
                            }
                        }
                    }

                    svg {
                        position: absolute;
                        right: 54px;

                        @media (max-width: 480px) {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    span {
                        font-family: 'Inter', sans-serif;
                        color: var(--dark-slate-blue);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 120%;

                        @media (max-width: 480px) {
                            font-size: 14px;
                        }
                    }
                }

                .btn-edit {
                    width: 60px;

                    @media (max-width: 480px) {
                        width: 50px;
                    }

                    svg {
                        position: absolute;
                        right: 34px;
                    }
                }

                .btn-delete {

                    svg {
                        @media (max-width: 480px) {
                            right: 48px;
                        }
                    }
                }
            }
        }

        .contact-data {
            display: flex;
            flex-direction: column;
            gap: 22px;

            .email,
            .phone {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .title {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 120%;

                    @media (max-width: 480px) {
                        font-size: 14px;
                    }
                }

                .info {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;

                    @media (max-width: 480px) {
                        font-size: 14px;
                    }
                }
            }

            .email {
                .info {
                    color: var(--light-blue-1);
                }
            }
        }
    }


}

.modal-dialogs {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    z-index: 35;

    .move-contact-form {
        transform: translateX(100vw);
        animation: moveLeft 225ms ease-in-out forwards;

        @media(max-width: 768px) {
            transform: translateX(0vw);
            transform: translateY(100vw);
            animation: moveTop 225ms ease-in-out forwards;
        }
    }

    .contact-form {
        width: var(--contact-form-width);
        height: calc(var(--contact-form-width) / 2);
        max-width: 980px;
        max-height: 490px;
        background-color: var(--white);
        border-radius: 30px;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        @media(max-width: 1024px) {
            width: var(--contact-form-width-2);
            height: calc(var(--contact-form-width-2) / 2);
        }

        @media(max-width: 768px) {
            width: var(--contact-form-width-2);
            height: calc(var(--contact-form-width-2) * 2);
            max-width: 396px;
            max-height: 760px;

            @media (max-height: 823px) {
                max-height: calc(100vh - 50px);
            }
        }

        @media(max-width: 480px) {
            width: var(--contact-form-width-3);
            height: calc(var(--contact-form-width-3) * 2);
            min-width: 250px;
            min-height: 400px;

            @media (max-height: 823px) {
                max-height: calc(100vh - 50px);
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.form-result-info {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 40;
}

.show-deleted-task-message,
.show-form-succes-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: var(--secundario-color);
    border: 4px solid var(--secundario-color);
    border-radius: 10px;
    transform: translateY(0vh);
    animation: succesAnimation 225ms ease-in-out;

    @keyframes succesAnimation {
        from {
            transform: translateY(100vh);
        }

        to {
            transform: translateY(0vh);
        }
    }

    .result-content {
        position: relative;

        &::after {
            position: absolute;
            content: 'Contact succesfully created';
            font-size: 21px;
            font-family: 'Inter', sans-serif;
            right: -189px;
            width: max-content;
            top: -20px;
            text-align: center;
            color: #FFF;
            font-weight: 400;
            line-height: 120%;
            padding: 30px;
            padding-right: 70px;
            border-radius: 20px;
            background: var(--dark-slate-blue);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);

            @media(max-width: 768px) {
                font-size: 18px;
                padding: 22px;
                padding-right: 50px;
                right: -155px;
            }

            @media(max-width: 480px) {
                font-size: 14px;
                padding: 22px;
                padding-right: 40px;
                right: -123px;
            }
        }

        &::before {
            position: absolute;
            content: url('../../assets/icons/user-icon.svg');
            right: -166px;
            top: 5px;
            z-index: 10;

            @media(max-width: 768px) {
                right: -140px;
                top: -4px;
                scale: 0.7;
            }

            @media(max-width: 480px) {
                right: -114px;
                top: -6px;
                scale: 0.6;
            }
        }
    }
}

.show-deleted-task-message {
    .result-content {

        &::after {
            content: 'Contact deleted' !important;
            padding-right: 30px !important;
            right: -110px !important;
            
            @media(max-width: 768px) {
                padding-right: 22px !important;
                right: -90.5px !important;
            }

            @media(max-width: 480px) {
                padding-right: 22px !important;
                right: -75.5px !important;
            }
        }

        &::before {
            content: none !important;
        }
    }
}

.bg-displayed-contact {
    background-color: var(--dark-slate-blue);

    .name {
        color: var(--white);
    }
}