.login-content {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;

    input[type="email"],
    input[type="text"],
    input[type="password"] {

        @media (max-width: 480px) {
            width: 70vw;
        }
    }
}

.container-btn-signup {
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    gap: 35px;
    align-items: center;
    animation: opacityAnimation 1200ms ease-in-out;

    @media (max-width: 1024px) {
        right: 25px;
        top: 25px;
    }

    @media (max-width: 480px) {
        right: 15px;
        top: 15px;
        gap: 20px;
    }

    span {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.notices {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    display: flex;
    gap: 24px;
    align-items: center;
    animation: opacityAnimation 1200ms ease-in-out;

    @media (max-width: 1024px) {
        padding-bottom: 25px;
    }

    @media (max-width: 480px) {
        padding-bottom: 15px;
    }

    a {
        color: var(--light-gray-2);
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
        transition: all 100ms ease-in-out;

        &:hover {
            color: var(--electric-blue);
        }
    }
}

.container-form {
    position: relative;
    animation: opacityAnimation 1200ms ease-in-out;
    border: 1px solid transparent;

    .login-options {
        width: 380px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1024px) {
            width: 300px;
        }

        @media (max-width: 1024px) {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }

        a {
            color: var(--electric-blue);
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            border-bottom: 1px solid transparent;
            padding-bottom: 1px;
            transition: all 100ms ease-in-out;

            &:hover {
                border-bottom: 1px solid var(--electric-blue);
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    .form-btns {
        display: flex;
        gap: 35px;
        align-items: center;

        @media (max-width: 480px) {
            flex-direction: column;
            gap: 20px;

            button {
                width: 130px;
                padding: 12px 0;
                text-align: center;
            }

            a {
                width: 130px;
                padding: 12px 0;
                text-align: center;
            }
        }
    }
}

.after-login-form {
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: var(--warning-color);
 
    @media (max-width: 480px) {
        bottom: -40px;
        text-align: center;
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-once {
    animation: bgColorAnimation 1200ms ease-in-out forwards;

    @media (max-width: 480px) {

        @keyframes bgColorAnimation {
            0% {
                background-color: var(--dark-slate-blue);
            }

            30% {
                background-color: var(--dark-slate-blue);
            }

            100% {
                background-color: var(--light-gray);
            }
        }
    }

    .svg-logo {

        animation: logoAnimation 1200ms ease-in-out forwards;

        path:nth-child(1),
        path:nth-child(2),
        path:nth-child(4),
        path:nth-child(5),
        path:nth-child(6) {

            fill: var(--dark-slate-blue);

            @media (max-width: 480px) {
                animation: logoColorAnimationMedia480 1200ms ease-in-out forwards;
            }
        }

        path:nth-child(3) {
            fill: #29ABE2;
        }

        @keyframes logoAnimation {
            0% {
                left: calc((100vw - 140px) / 2);
                top: calc((100vh - 170px) / 2);
                width: 140px;
                height: 170px;
                opacity: 0;
            }

            30% {
                left: calc((100vw - 140px) / 2);
                top: calc((100vh - 170px) / 2);
                width: 140px;
                height: 170px;
                opacity: 1;
            }

            100% {
                left: 50px;
                top: 50px;
                width: 70px;
                height: 85px;
            }
        }

        @media (max-width: 1024px) {
            animation: logoAnimationMedia1024 1200ms ease-in-out forwards;
        }

        @media (max-width: 768px) {
            animation: logoAnimationMedia768 1200ms ease-in-out forwards;
        }

        @media (max-width: 480px) {
            animation: logoAnimationMedia480 1200ms ease-in-out forwards;
        }

        @keyframes logoAnimationMedia1024 {
            0% {
                left: calc((100vw - 100px) / 2);
                top: calc((100vh - 122px) / 2);
                width: 100px;
                height: 122px;
                opacity: 0;
            }

            30% {
                left: calc((100vw - 100px) / 2);
                top: calc((100vh - 122px) / 2);
                width: 100px;
                height: 122px;
                opacity: 1;
            }

            100% {
                width: 50px;
                height: 61px;
                left: 25px;
                top: 25px;
            }
        }

        @keyframes logoAnimationMedia768 {
            0% {
                left: calc((100vw - 100px) / 2);
                top: calc((100vh - 122px) / 2);
                width: 100px;
                height: 122px;
                opacity: 0;
            }

            30% {
                left: calc((100vw - 100px) / 2);
                top: calc((100vh - 122px) / 2);
                width: 100px;
                height: 122px;
                opacity: 1;
            }

            100% {
                width: 40px;
                height: 49px;
                left: 25px;
                top: 25px;
            }
        }

        @keyframes logoAnimationMedia480 {
            0% {
                left: calc((100vw - 100px) / 2);
                top: calc((100vh - 122px) / 2);
                width: 100px;
                height: 122px;
                opacity: 0;
            }

            30% {
                left: calc((100vw - 100px) / 2);
                top: calc((100vh - 122px) / 2);
                width: 100px;
                height: 122px;
                opacity: 1;
            }

            100% {
                width: 30px;
                height: 37px;
                left: 15px;
                top: 15px;
            }
        }

        @keyframes logoColorAnimationMedia480 {
            0% {
                fill: var(--white);
            }

            30% {
                fill: var(--white);
            }

            100% {
                fill: var(--dark-slate-blue);
            }
        }
    }
}