.forgot-content {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.container-form {
    padding: 48px 70px;
    animation: translateXAnimationFrom100vw 225ms ease-in-out forwards;

    @media (max-width: 1024px) {
        max-width: 70vw;
    }

    @media (max-width: 768px) {
        padding: 48px 30px;
    }

    .email-field {
        @media (max-width: 480px) {
            max-width: 350px;
        }
    }
}

.form-headline {

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
    }

    span {
        word-wrap: break-word;
    }

    svg {
        position: absolute;
        left: -42px;
        bottom: 26px;
        cursor: pointer;

        &:hover {
            scale: 1.1;
        }

        @media (max-width: 1024px) {
            bottom: 85px;
        }

        @media (max-width: 768px) {
            bottom: 72px;
        }

        @media (max-width: 480px) {
            scale: 0.8;
            bottom: 42px;

            &:hover {
                scale: 0.9;
            }
        }
    }
}

.form-description {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    max-width: 450px;

    @media (max-width: 768px) {
        font-size: 14px;
        max-width: 350px;
    }
}

.form-result-info {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.show-form-load-animation {
    display: flex;

    &::before {
        content: url('../../assets/icons/loading.png');
        animation: rotateAnimation 2s linear infinite;
    }

    @keyframes rotateAnimation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.show-form-succes-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: var(--secundario-color);
    border: 4px solid var(--secundario-color);
    border-radius: 10px;
    transform: translateY(0vh);
    animation: succesAnimation 225ms ease-in-out;

    @keyframes succesAnimation {
        from {
            transform: translateY(100vh);
        }

        to {
            transform: translateY(0vh);
        }
    }

    .result-content {
        position: relative;

        &::before {
            position: absolute;
            content: url('../../assets/icons/send_check.svg');
            top: 0px;
            left: -183px;
            z-index: 10;

            @media(max-width: 768px) {
                scale: 0.8;
                left: -160px;
                top: -6px;
            }
            
            @media(max-width: 480px) {
                scale: 0.6;
                left: -130px;
                top: -9px;
            }
        }

        &::after {
            position: absolute;
            content: 'An E-Mail has been sent to you';
            font-size: 21px;
            right: -204px;
            width: max-content;
            top: -20px;
            text-align: center;
            color: #FFF;
            font-weight: 400;
            line-height: 120%;
            padding: 30px 30px 30px 70px;
            border-radius: 20px;
            background: var(--dark-slate-blue);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);

            @media(max-width: 768px) {
                font-size: 18px;
                padding: 22px 22px 22px 60px;
                right: -173px;
            }

            @media(max-width: 480px) {
                font-size: 14px;
                padding: 22px 22px 22px 60px;
                right: -143px;
            }
        }
    }
}

.show-form-error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0vh);
    animation: succesAnimation 225ms ease-in-out;

    @keyframes succesAnimation {
        from {
            transform: translateY(100vh);
        }

        to {
            transform: translateY(0vh);
        }
    }

    .result-content {
        position: relative;

        &::before {
            position: absolute;
            content: url('../../assets/icons/warning.png');
            top: 0px;
            left: 68px;
            left: -183px;
            z-index: 10;

            @media(max-width: 768px) {
                scale: 0.8;
                left: -160px;
                top: -6px;
            }
            
            @media(max-width: 480px) {
                scale: 0.6;
                left: -130px;
                top: -9px;
            }
        }

        &::after {
            position: absolute;
            content: 'Error while submitting the email.';
            color: var(--black-color);
            font-size: 21px;
            right: -209px;
            width: max-content;
            top: -20px;
            text-align: center;
            font-weight: 600;
            line-height: 120%;
            padding: 30px 30px 30px 70px;
            border-radius: 20px;
            background: var(--warning-color);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);

            @media(max-width: 768px) {
                font-size: 18px;
                padding: 22px 22px 22px 60px;
                right: -173px;
            }

            @media(max-width: 480px) {
                font-size: 14px;
                padding: 22px 22px 22px 60px;
                right: -143px;
            }
        }
    }
}

.opacity-null {
    animation: opacityAnimation 2000ms ease-in;
    opacity: 0;

    @keyframes opacityAnimation {
        0% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}