<div class="page-content animate-once">
    <app-nav class="menu-bg-board"></app-nav>
    <div class="section-content">
        <app-header></app-header>
        <div class="board-content">
            <div class="headline">
                <div class="headline-left">
                    <h1>Board</h1>
                    <div class="btn-plus-task" (click)="modalControls.openTaskForm('to-do')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <path d="M11 1V21" stroke="white" stroke-width="2" stroke-linecap="round" />
                            <path d="M21 11L1.00048 11.138" stroke="white" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
                <div class="headline-right">
                    <div class="container-input">
                        <span class="before-input">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2" height="32" viewBox="0 0 2 32"
                                fill="none">
                                <path d="M1 0.5V31.5" stroke="#D1D1D1" />
                            </svg>
                        </span>
                        <input #searchField (input)="searchTask()" class="search-field" name="search" type="text"
                            placeholder="Find Task">
                        <img src="../../assets/icons/search.svg" class="after-input">
                    </div>
                    <div (click)="modalControls.openTaskForm('to-do')" class="btn-plus-task">
                        <span>Add Task</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <mask id="mask0_93752_3931" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="32" height="32">
                                <rect width="32" height="32" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_93752_3931)">
                                <path
                                    d="M14.666 17.3327H6.66602V14.666H14.666V6.66602H17.3327V14.666H25.3327V17.3327H17.3327V25.3327H14.666V17.3327Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </div>
                    <div (click)="modalControls.openTaskForm('to-do')" class="btn-plus-task-small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <path d="M11 1V21" stroke="white" stroke-width="2" stroke-linecap="round" />
                            <path d="M21 11L1.00048 11.138" stroke="white" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="box-content">
                <div class="content-left">
                    <div class="box-with-tasks">
                        <div class="headline-box">
                            <h2>To do</h2>
                            <div (click)="modalControls.openTaskForm('to-do')" class="btn-plus-task">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
                                    fill="none">
                                    <path d="M5 1V9" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                                    <path d="M9 5.07544L1 5.07544" stroke="#2A3647" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </div>
                        </div>
                        <ul #tasks class="tasks" (drop)="moveTo('to-do')" (dragleave)="leaveDragging($event, 'to-do')"
                            (dragover)="overDragging($event, 'to-do')">
                            <li class="no-tasks" *ngIf="todoTasks.length == 0">
                                <span>No tasks To do</span>
                            </li>
                            <li class="created-task" *ngFor="let task of todoTasks" draggable="true"
                                (dragstart)="startDragging($event, task.id)" (dragend)="endDragging($event, task.id)"
                                (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (click)="openTask(task)">
                                <div class="header">
                                    <span class="category" [style.background]="task.color">{{ task.category
                                        }}</span>
                                </div>
                                <div class="title">
                                    <h3>{{ task.title }}</h3>
                                </div>
                                <span class="description">{{ task.description }}</span>
                                <div *ngIf="task.subTasks.length > 0" class="subtasks">
                                    <div class="progress">
                                        <div class="progress-bar" [style.width]="task.progress+'%'"></div>
                                    </div>
                                    <div class="subtask-count">{{ task.closedSubTasks }}/{{ task.subTasks.length }}
                                        Subtasks</div>
                                </div>
                                <div class="footer">
                                    <div class="assigned">
                                        <ul>
                                            <li *ngFor="let assigned of task.assigned"
                                                [style.background]="assigned.color">
                                                <span>{{ assigned.initials }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <img class="prio" src="../../assets/icons/prio/prio-{{ task.prio }}.svg">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box-with-tasks">
                        <div class="headline-box">
                            <h2>In progress</h2>
                            <div (click)="modalControls.openTaskForm('in-progress')" class="btn-plus-task">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
                                    fill="none">
                                    <path d="M5 1V9" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                                    <path d="M9 5.07544L1 5.07544" stroke="#2A3647" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </div>
                        </div>
                        <ul #tasks class="tasks" (drop)="moveTo('in-progress')"
                            (dragleave)="leaveDragging($event, 'in-progress')"
                            (dragover)="overDragging($event, 'in-progress')">
                            <li class="no-tasks" *ngIf="inProgressTasks.length == 0">
                                <span>No tasks To do</span>
                            </li>
                            <li class="created-task" *ngFor="let task of inProgressTasks" draggable="true"
                                (dragstart)="startDragging($event, task.id)" (dragend)="endDragging($event, task.id)"
                                (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (click)="openTask(task)">
                                <div class="header">
                                    <span class="category" [style.background]="task.color">{{ task.category
                                        }}</span>
                                </div>
                                <div class="title">
                                    <h3>{{ task.title }}</h3>
                                </div>
                                <span class="description">{{ task.description }}</span>
                                <div *ngIf="task.subTasks.length > 0" class="subtasks">
                                    <div class="progress">
                                        <div class="progress-bar" [style.width]="task.progress+'%'"></div>
                                    </div>
                                    <div class="subtask-count">{{ task.closedSubTasks }}/{{ task.subTasks.length }}
                                        Subtasks</div>
                                </div>
                                <div class="footer">
                                    <div class="assigned">
                                        <ul>
                                            <li *ngFor="let assigned of task.assigned"
                                                [style.background]="assigned.color">
                                                <span>{{ assigned.initials }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <img class="prio" src="../../assets/icons/prio/prio-{{ task.prio }}.svg">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-right">
                    <div class="box-with-tasks">
                        <div class="headline-box">
                            <h2>Await feedback</h2>
                            <div (click)="modalControls.openTaskForm('await-feedback')" class="btn-plus-task">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
                                    fill="none">
                                    <path d="M5 1V9" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                                    <path d="M9 5.07544L1 5.07544" stroke="#2A3647" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </div>
                        </div>
                        <ul #tasks class="tasks" (drop)="moveTo('await-feedback')"
                            (dragleave)="leaveDragging($event, 'await-feedback')"
                            (dragover)="overDragging($event, 'await-feedback')">
                            <li class="no-tasks" *ngIf="awaitFeedbackTasks.length == 0">
                                <span>No tasks To do</span>
                            </li>
                            <li class="created-task" *ngFor="let task of awaitFeedbackTasks" draggable="true"
                                (dragstart)="startDragging($event, task.id)" (dragend)="endDragging($event, task.id)"
                                (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (click)="openTask(task)">
                                <div class="header">
                                    <span class="category" [style.background]="task.color">{{ task.category
                                        }}</span>
                                </div>
                                <div class="title">
                                    <h3>{{ task.title }}</h3>
                                </div>
                                <span class="description">{{ task.description }}</span>
                                <div *ngIf="task.subTasks.length > 0" class="subtasks">
                                    <div class="progress">
                                        <div class="progress-bar" [style.width]="task.progress+'%'"></div>
                                    </div>
                                    <div class="subtask-count">{{ task.closedSubTasks }}/{{ task.subTasks.length }}
                                        Subtasks</div>
                                </div>
                                <div class="footer">
                                    <div class="assigned">
                                        <ul>
                                            <li *ngFor="let assigned of task.assigned"
                                                [style.background]="assigned.color">
                                                <span>{{ assigned.initials }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <img class="prio" src="../../assets/icons/prio/prio-{{ task.prio }}.svg">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box-with-tasks">
                        <div class="headline-box">
                            <h2>Done</h2>
                            <div (click)="modalControls.openTaskForm('done')" class="btn-plus-task">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
                                    fill="none">
                                    <path d="M5 1V9" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                                    <path d="M9 5.07544L1 5.07544" stroke="#2A3647" stroke-width="2"
                                        stroke-linecap="round" />
                                </svg>
                            </div>
                        </div>
                        <ul #tasks class="tasks" (drop)="moveTo('done')" (dragleave)="leaveDragging($event, 'done')"
                            (dragover)="overDragging($event, 'done')">
                            <li class="no-tasks" *ngIf="doneTasks.length == 0">
                                <span>No tasks To do</span>
                            </li>
                            <li class="created-task" *ngFor="let task of doneTasks" draggable="true"
                                (dragstart)="startDragging($event, task.id)" (dragend)="endDragging($event, task.id)"
                                (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (click)="openTask(task)">
                                <div class="header">
                                    <span class="category" [style.background]="task.color">{{ task.category
                                        }}</span>
                                </div>
                                <div class="title">
                                    <h3>{{ task.title }}</h3>
                                </div>
                                <span class="description">{{ task.description }}</span>
                                <div *ngIf="task.subTasks.length > 0" class="subtasks">
                                    <div class="progress">
                                        <div class="progress-bar" [style.width]="task.progress+'%'"></div>
                                    </div>
                                    <div class="subtask-count">{{ task.closedSubTasks }}/{{ task.subTasks.length }}
                                        Subtasks</div>
                                </div>
                                <div class="footer">
                                    <div class="assigned">
                                        <ul>
                                            <li *ngFor="let assigned of task.assigned"
                                                [style.background]="assigned.color">
                                                <span>{{ assigned.initials }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <img class="prio" src="../../assets/icons/prio/prio-{{ task.prio }}.svg">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <app-nav-mobile class="menu-bg-board"></app-nav-mobile>
    </div>
    <div *ngIf="modalControls.isModalContainerOpen" class="modal-dialogs">
        <div (click)="modalControls.closeTaskForm()" class="overlay"></div>
        <app-modal-task-opened *ngIf="modalControls.isTaskOpen" class="task-opened-board move-left"></app-modal-task-opened>
        <app-modal-task-form *ngIf="modalControls.isTaskFormOpen" class="task-form-board move-left"></app-modal-task-form>
        <div #formResultInfo [ngClass]="{'form-result-info': modalControls.isResultInfoOpen, 'opacity-null': modalControls.isResultInfoHidden}">
            <div #sendResultInfo [ngClass]="{'show-form-load-animation': modalControls.isTaskLoading, 'show-form-succes-message': modalControls.isTaskSaved, 'show-deleted-task-message': modalControls.isTaskDeleted}">
                <div class="result-content"></div>
            </div>
        </div>
    </div>
    <div *ngIf="modalControls.isModalContactContainerOpen" class="modal-dialogs-contact">
        <div (click)="modalControls.closeContactForm()" class="overlay"></div>
        <app-modal-contact-form *ngIf="modalControls.isContactFormOpen" class="contact-form move-contact-form"></app-modal-contact-form>
    </div>
</div>