.board-content {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;

    @media(max-width:768px) {
        overflow: scroll;

        @media (min-height: 568px) {
            height: calc(100vh - 156px);
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

.headline {
    margin-left: 96px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-width: 850px) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    @media (max-width: 768px) {
        margin: 0 20px 20px;
    }

    @media (max-width: 480px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 52px;
        font-weight: 700;
        line-height: 120%;

        @media (max-width: 768px) {
            margin-top: 20px;
        }

        @media (max-width: 480px) {
            font-size: 28px;
        }
    }
}

.box-content {
    margin-left: 96px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 1250px) {
        flex-direction: column;
    }

    @media (max-width: 1024px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-width: 480px) {
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
    }

    .headline-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            color: var(--headline-box-color);
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }

        .btn-plus-task {
            display: flex;
            width: 24px;
            height: 24px;
            padding: 3px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 8px;
            border: 2px solid var(--dark-slate-blue);
            transition: all 110ms ease-in-out;
            cursor: pointer;

            &:hover {
                border: 2px solid var(--electric-blue);

                path {
                    stroke: var(--electric-blue);
                }
            }

            &:active {
                border: 2px solid var(--midnight-blue);

                path {
                    stroke: var(--midnight-blue);
                }
            }
        }
    }

    .box-with-tasks {
        width: 100%;
    }
}

.headline-left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 850px) {
        width: 100%;
    }

    .btn-plus-task {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background: var(--version-2-main-color, #2A3647);
        transition: all 110ms ease-in-out;
        cursor: pointer;
        display: none;

        &:hover {
            background-color: var(--electric-blue);
        }

        &:active {
            background-color: var(--midnight-blue);
        }

        @media (max-width: 850px) {
            display: flex;
        }
    }
}

.headline-right {
    display: flex;
    gap: 32px;
    align-items: center;

    @media (max-width: 850px) {
        width: 100%;
    }

    .container-input {
        width: max-content;

        @media (max-width: 850px) {
            width: 100%;
        }

        .before-input {
            right: 65px;
            bottom: 5px;
            left: auto;
        }

        .search-field {
            width: 250px;
            padding: 12px 69px 12px 21px;

            @media (max-width: 850px) {
                width: calc(100% - 90px);
            }
        }
    }

    .btn-plus-task {
        display: flex;
        padding: 8px 16px;
        width: max-content;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 10px;
        border: 1px solid var(--dark-slate-blue);
        background: var(--dark-slate-blue);
        color: var(--white);
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        cursor: pointer;
        transition: all 110ms ease-in-out;

        &:hover {
            background-color: var(--electric-blue);
            border: 1px solid var(--electric-blue);
        }

        &:active {
            background-color: var(--midnight-blue);
            border: 1px solid var(--electric-blue);
        }

        @media(max-width:1100px) {
            display: none;
        }
    }

    .btn-plus-task-small {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background: var(--version-2-main-color, #2A3647);
        transition: all 110ms ease-in-out;
        cursor: pointer;
        display: none;

        &:hover {
            background-color: var(--electric-blue);
        }

        &:active {
            background-color: var(--midnight-blue);
        }

        @media(max-width:1100px) {
            display: flex;
        }

        @media (max-width: 850px) {
            display: none;
        }
    }
}

.content-left,
.content-right {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 50%;

    .tasks {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
            list-style-type: none;

            * {
                pointer-events: none;
            }
        }

        .created-task {
            display: flex;
            width: auto;
            padding: 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 24px;
            background: var(--white);
            box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
            transition: all 110ms ease-in-out;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
            }

            .header {
                width: 100%;

                .category {
                    padding: 4px 16px;
                    border-radius: 8px;
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }

            .title {
                width: 100%;
                display: flex;
                align-items: flex-start;

                h3 {
                    color: var(--dark-slate-blue);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                }
            }

            .description {
                width: 100%;
                color: var(--light-gray-2);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }

            .subtasks {
                width: 100%;
                display: flex;
                gap: 15px;
                justify-content: space-between;
                align-items: center;

                .progress {
                    width: 100%;
                    border-radius: 8px;
                    background: var(--light-gray-1);

                    .progress-bar {
                        height: 8px;
                        align-self: stretch;
                        border-radius: 16px;
                        background: var(--light-blue);
                        width: 50%;
                    }
                }

                .subtask-count {
                    white-space: nowrap;
                    color: var(--black);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }

            .footer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .assigned {
                    width: 100%;
                    overflow: scroll;
                    max-width: 200px;

                    &::-webkit-scrollbar {
                        width: 0;
                        height: 0;
                    }

                    ul {
                        display: flex;
                        padding: 0;
                        padding-left: 8px;
                        width: max-content;

                        li {
                            list-style-type: none;
                            display: flex;
                            width: 32px;
                            height: 32px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 45px;
                            border: 1px solid var(--white);
                            margin-left: -8px;

                            span {
                                color: var(--white);
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                            }
                        }
                    }
                }
            }
        }

        .no-tasks {
            display: flex;
            height: 48px;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            border-radius: 10px;
            border: 1px dashed var(--light-gray-2);
            background: var(--light-gray-5);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);

            span {
                color: var(--light-gray-2);
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }

    @media (max-width: 1250px) {
        width: 100%;
    }

    @media (max-width: 480px) {
        flex-direction: column;
    }
}

.rotated {
    transform: rotate(5deg);
}

.modal-dialogs {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;

    .task-form-board {
        width: calc(100% - 200px);
        height: calc(100% - 100px);
        max-width: 1116px;
        max-height: 870px;
        background-color: var(--white);
        border-radius: 30px;
        overflow: scroll;
        transform: translateX(100%);

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        @media(max-width:1440px) {
            max-width: 980px;
        }

        @media(max-width:1165px) {
            max-width: 604px;
        }
        
        @media(max-width: 1024px) {
            display: flex;
            justify-content: center;
        }

        @media(max-width:768px) {
            width: calc(100% - 50px);
            height: calc(100% - 100px);
        }

        @media(max-width:480px) {
            width: calc(100% - 20px);
            height: calc(100% - 100px);
        }
    }

    .task-opened-board {
        width: calc(100% - 200px);
        height: calc(100% - 100px);
        max-width: 396px;
        max-height: 640px;
        background-color: var(--white);
        border-radius: 30px;
        overflow: scroll;
        transform: translateX(100%);

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        @media(max-width: 1024px) {
            display: flex;
            justify-content: center;
        }

        @media(max-width:480px) {
            width: calc(100% - 20px);
            height: calc(100% - 100px);
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.form-result-info {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.show-deleted-task-message,
.show-form-succes-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: var(--secundario-color);
    border: 4px solid var(--secundario-color);
    border-radius: 10px;
    transform: translateY(0vh);
    animation: succesAnimation 225ms ease-in-out;

    @keyframes succesAnimation {
        from {
            transform: translateY(100vh);
        }

        to {
            transform: translateY(0vh);
        }
    }

    .result-content {
        position: relative;

        &::after {
            position: absolute;
            content: 'Task added to board';
            font-size: 21px;
            font-family: 'Inter', sans-serif;
            right: -145px;
            width: max-content;
            top: -20px;
            text-align: center;
            color: #FFF;
            font-weight: 400;
            line-height: 120%;
            padding: 30px;
            padding-right: 90px;
            border-radius: 20px;
            background: var(--dark-slate-blue);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);

            @media(max-width: 768px) {
                font-size: 18px;
                padding: 22px;
                padding-right: 60px;
                right: -113.5px;
            }

            @media(max-width: 480px) {
                font-size: 14px;
                padding: 22px;
                padding-right: 60px;
                right: -97.5px;
            }
        }

        &::before {
            position: absolute;
            content: url('../../assets/icons/board.svg');
            right: -118px;
            top: 7px;
            z-index: 10;

            @media(max-width: 768px) {
                right: -97px;
                top: -3px;
                scale: 0.7;
            }

            @media(max-width: 480px) {
                right: -83px;
                top: -6px;
                scale: 0.6;
            }
        }
    }
}

.show-deleted-task-message {
    .result-content {

        &::after {
            content: 'Task has been removed from the board' !important;
            padding-right: 30px !important;
            right: -250px !important;
            
            @media(max-width: 768px) {
                padding-right: 22px !important;
                right: -188px !important;
            }

            @media(max-width: 480px) {
                padding-right: 22px !important;
                right: -152px !important;
            }

            @media(max-width: 350px) {
                width: 180px !important;
                right: -112px !important;
            }
        }

        &::before {
            content: none !important;
        }
    }
}