:root {
    --light-gray: #F6F7F8;
    --light-gray-1: #F4F4F4;
    --light-gray-2: #A8A8A8;
    --light-gray-3: #D1D1D1;
    --light-gray-4: #CDCDCD;
    --light-gray-5: #E7E7E7;
    --light-blue: #005DFF;
    --light-blue-1: #007CEE;
    --dark-slate-blue: #2A3647;
    --electric-blue: #29ABE2;
    --midnight-blue: #091931;
    --white: #FFF;
    --black: #000;
    --warning-color: #FF8190;
    --urgent-color: #FF3D00;
    --medium-color: #FFA800;
    --low-color: #7AE229;
    --headline-box-color: #42526E;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    --tap-highlight-color: transparent;
    box-sizing: border-box;
    background-color: var(--light-gray);
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: var(--light-gray);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--dark-slate-blue);
        border-radius: 5px;
    }
}

a {
    text-decoration: none;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"],
textarea {
    width: 359px;
    padding: 12px 46px 12px 21px;
    border-radius: 10px;
    border: 1px solid var(--light-gray-3);
    background: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 120%;
    outline: none;

    &::placeholder {
        color: var(--light-gray-3);
    }

    &:focus {
        border: 1px solid var(--electric-blue);
    }

    @media (max-width: 1024px) {
        width: 282px;
        padding: 10px 40px 10px 18px;
        font-size: 18px;
    }

    @media (max-width: 480px) {
        width: auto;
        padding: 10px 30px 10px 10px;
        font-size: 16px;
    }
}

input[type="checkbox"] {
    margin: 0;
    border: transparent;
    position: relative;
    cursor: pointer;
    visibility: hidden;
    transition: all 100ms ease-in-out;

    &:hover {
        &::after {
            content: url('./assets/icons/checkbox/unchecked-hover.svg');
        }
    }

    &:checked {
        &:hover {
            &::after {
                content: url('./assets/icons/checkbox/checked-hover.svg');
            }
        }

        &::after {
            content: url('./assets/icons/checkbox/checked.svg');
        }
    }

    &::after {
        content: url('./assets/icons/checkbox/unchecked.svg');
        position: absolute;
        scale: 0.75;
        top: -7px;
        left: -6px;
        visibility: visible;


        @media (max-width: 768px) {
            top: -8px;
        }
    }
}

input[type="date"] {

    cursor: pointer;

    &::-webkit-datetime-edit-month-field:hover,
    &::-webkit-datetime-edit-day-field:hover,
    &::-webkit-datetime-edit-year-field:hover {
        background: rgba(0, 120, 250, 0.1);
    }

    &::-webkit-clear-button,
    &::-webkit-inner-spin-button {
        display: none;
    }

    &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 40px;
        right: 21px;
        z-index: 11;
        opacity: 0;
        cursor: pointer;
        color: var(--light-gray);
        background: var(--light-gray);

    }

    &:hover::-webkit-calendar-picker-indicator {
        opacity: 0.05;
    }

    &:hover::-webkit-calendar-picker-indicator:hover {
        opacity: 0.15;
    }

}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.form-headline {
    color: var(--black);
    text-align: center;
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;

    @media (max-width: 1024px) {
        font-size: 54px;
    }

    @media (max-width: 768px) {
        margin-bottom: 10px;
        font-size: 48px;
    }

    @media (max-width: 480px) {
        margin-bottom: 0;
        font-size: 32px;
    }

    &::after {
        content: "";
        display: block;
        width: 80%;
        height: 3px;
        border-radius: 10px;
        background-color: var(--electric-blue);
        position: absolute;
        bottom: -16px;
        left: 10%;


        @media (max-width: 768px) {
            bottom: -10px;
        }

        @media (max-width: 480px) {
            bottom: -5px;
            height: 2px;
        }
    }
}

.container-form {
    display: flex;
    padding: 48px 115px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 30px;
    background: var(--white);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

    @media (max-width: 1024px) {
        padding: 30px 75px;
    }

    @media (max-width: 768px) {
        padding: 40px;
        margin-top: 20px;
    }

    @media (max-width: 480px) {
        padding: 20px 0;
        width: calc(100% - 30px);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        @media (max-width: 480px) {
            gap: 20px;
        }
    }
}

.container-input {
    position: relative;
}

.before-input {
    position: absolute;
    left: 21px;
    bottom: -18px;
    color: var(--warning-color);
    font-size: 12px;
    font-family: 'Poppins', sans-serif;

    @media (max-width: 1024px) {
        left: 18px;
    }

    @media (max-width: 480px) {
        left: 10px;
        bottom: -15px;
    }
}

.after-input {
    position: absolute;
    right: 21px;
    top: 10px;
    font-family: 'Poppins', sans-serif;

    @media (max-width: 1024px) {
        right: 18px;
    }

    @media (max-width: 480px) {
        right: 8px;
        top: 8px;
    }
}

.primary-btn {
    border: none;
    border-radius: 8px;
    background: var(--dark-slate-blue);
    padding: 15px 24px;
    gap: 10px;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    transition: all 100ms ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--electric-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
        background: var(--midnight-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 12px 20px;
    }
}

.secondary-button {
    border-radius: 8px;
    border: 1px solid var(--dark-slate-blue);
    padding: 15px 24px;
    gap: 10px;
    color: var(--dark-slate-blue);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    transition: all 100ms ease-in-out;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--electric-blue);
        color: var(--electric-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
        border: 1px solid var(--midnight-blue);
        color: var(--midnight-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 12px 20px;
    }
}

.svg-logo {
    width: 70px;
    height: 85px;
    position: absolute;
    left: 50px;
    top: 50px;
    cursor: pointer;
    z-index: 10;
    transition: all 225ms ease-in-out;

    &:hover {
        scale: 1.02;
    }

    @media (max-width: 1024px) {
        width: 50px;
        height: 61px;
        left: 25px;
        top: 25px;
    }

    @media (max-width: 768px) {
        width: 40px;
        height: 49px;
    }

    @media (max-width: 480px) {
        width: 30px;
        height: 37px;
        left: 15px;
        top: 15px;
    }
}

.error-border {
    border: 1px solid var(--warning-color) !important;
}

@keyframes translateXAnimationFrom100vw {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0px);
    }
}

.show-form-load-animation {
    display: flex;

    &::before {
        content: url('assets/icons/loading.png');
        animation: rotateAnimation 2s linear infinite;
    }

    @keyframes rotateAnimation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.opacity-null {
    animation: opacityAnimation 1500ms ease-in;
    opacity: 0;

    @keyframes opacityAnimation {
        0% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

.menu-bg-summary {
    .li-summary {
        background-color: var(--midnight-blue);
    }
}

.menu-bg-add-task {
    .li-add-task {
        background-color: var(--midnight-blue);
    }
}

.menu-bg-board {
    .li-board {
        background-color: var(--midnight-blue);
    }
}

.menu-bg-contacts {
    .li-contacts {
        background-color: var(--midnight-blue);
    }
}

app-nav {
    @media (max-width: 768px) {
        display: none;
    }
}

app-nav-mobile {
    display: none;

    @media (max-width: 768px) {
        display: initial;
    }
}

.page-content {
    display: flex;
    min-height: 568px;

    @media (min-height: 568px) {
        height: 100vh;
    }
}

.section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    --tap-highlight-color: transparent;
    overflow-x: hidden;

    @media (max-width: 768px) {
        align-items: center;
        justify-content: space-between;
    }

    app-header,
    app-nav-mobile {
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: 5px;

        @media (max-width: 480px) {
            width: 0;
        }
    }

    &::-webkit-scrollbar-track {
        background: var(--light-gray);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--dark-slate-blue);
        ;
        border-radius: 5px;
    }
}

.load-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);

    img {
        animation: rotateAnimation 2s linear infinite;
    }
}

.input-add-task {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.after-input-add-task {
    top: 40px;
    z-index: 10;

    @media(max-width:1024px) {
        top: 37px;
    }

    @media(max-width:480px) {
        top: 35px;
    }
}

button[type="button"] {
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--dark-slate-blue);
    background-color: var(--white);
    color: var(--dark-slate-blue);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        border: 2px solid var(--electric-blue);
        color: var(--electric-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        path {
            stroke: var(--electric-blue);
        }
    }

    &:active {
        border: 1px solid var(--midnight-blue);
        color: var(--midnight-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        path {
            stroke: var(--midnight-blue);
        }
    }
}

button[type="submit"] {
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: none;
    background: var(--dark-slate-blue);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        background: var(--electric-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
        background: var(--midnight-blue);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.required-symbol {
    color: var(--warning-color);
}

.chevron-icon {
    cursor: pointer;
    border-radius: 50%;

    &:hover {
        background-color: var(--light-gray);
    }
}

.d-none {
    display: none !important;
}

.bottom-10 {
    bottom: -10px !important;
}

.right0 {
    right: 0 !important;
}

.opacity05 {
    opacity: 0.5;
}

.task-form-board {

    .headline {
        h1 {
            margin-top: 64px;
        }

        @media (max-width: 768px) {
            margin-top: 20px !important;
        }
    }

    form {
        padding-bottom: 50px !important;

        @media(max-width: 768px) {
            padding-bottom: 0 !important;
        }
    }

    .add-task-content {

        @media(max-width: 1024px) {
            display: flex !important;
            flex-direction: column !important;
            width: max-content !important;
        }

        @media(max-width: 768px) {

            @media (min-height: 568px) {
                height: 100% !important;
            }
        }
    }

    .close-task-form {
        display: block !important;

    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.move-left {
    animation: moveLeft 225ms ease-in-out forwards;
}

.edit-task-form {
    width: calc(100% - 48px);
    height: 100%;
    padding: 50px 24px 32px 24px;
    display: block;

    .add-task-content {
        position: relative;
        padding: 0 !important;
        background-color: var(--white);
        z-index: 20;
        overflow-x: hidden !important;

        .bottom {
            flex-direction: column !important;
        }

        .headline,
        .bottom-left,
        .bottom-right,
        .required-symbol,
        .line-center,
        .close-task-form {
            display: none !important;
        }

        .btn-confirm-edited-task {
            display: flex !important;
        }
    }

    .box-content {
        width: auto !important;
        margin: 0 !important;

        .top {
            flex-direction: column;

            .top-left,
            .top-right {
                align-items: center;
            }
        }

        form {
            gap: 30px !important;

            .input-add-task {
                width: 100% !important;
            }

            .radio-tile-group {
                width: calc(100% - 10px) !important;
            }

            input[type="email"],
            input[type="text"],
            input[type="password"],
            input[type="date"],
            textarea {
                width: calc(100% - 67px) !important;

                @media(max-width:1440px) {
                    width: calc(100% - 67px) !important;
                }

                @media(max-width:1165px) {
                    width: calc(100% - 67px) !important;
                }

                @media (max-width: 1024px) {
                    width: calc(100% - 58px) !important;
                }

                @media (max-width: 768px) {
                    padding: 10px 40px 10px 16px !important;
                }

                @media (max-width: 480px) {
                    width: calc(100% - 40px) !important;
                    padding: 10px 28px 10px 10px !important;
                }
            }
        }
    }
}